.task-card {
  background: #180101;
  padding: 12px;
  margin-bottom: 12px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}

.task-card h4 {
  margin: 0;
}

.task-info {
  font-size: 12px;
  margin-top: 8px;
  display: flex;
  flex-direction: column;
}

.task-buttons {
  margin-top: 10px;
  display: flex;
  gap: 8px;
}

.edit-btn {
  background: #3498db;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.delete-btn {
  background: #e74c3c;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 5px;
  cursor: pointer;
}
